
OWM_API_KEY=4976b1bfb3708d83b77d9a16ffcc340e
DATABASE_URL=postgresql://neondb_owner:npg_VCs4Qdx7wjbi@ep-small-silence-asl5y809-pooler.c-4.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require